@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    box-sizing: 0px;
    padding: 0px;
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
}
.main{
    height: 90vh;  
    margin-top: 30px;
    margin-left: 480px;
    margin-right: 480px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}
.logo{
    margin: 15px;
    height: 45%;
    width: 91%;
    background-image: url("image-equilibrium.jpg");
    background-size: 100% 100%;
    border-radius: 10px;

}
h4{
    color: hsla(0, 0%, 100%, 0.751);
    margin-left: 15px;
    margin-right: 15px;
}
pre{
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 15px;
    font-size: 13px;
    color: hsl(215, 32%, 27%);
}
.icon{
    margin-left: 15px;
    margin-top: 0px;
    margin-right: 15px;
    display: flex;
    color: rgb(16, 236, 207);
    flex-direction: row;
    justify-content: space-between;
}
p{
    color: white;
    margin-bottom: 0px;
}